{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Here is a list of all registered emails</h1>
    {% for email in emails %}
        <ul>
            <li>{{ email }}</li>
        </ul>
    {% endfor %}

{% endblock %}
