{% extends 'base.html.twig' %}

{% block title %}Rent A Car!{% endblock %}

{% block body %}
<!-- <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/zanj/github/cmpe272/rent-a-car/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/zanj/github/cmpe272/rent-a-car/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div> -->
    <style>
        #about {
        margin-left: 50px;
        }
        #aboutP {
        margin-left: 100px;
        }
        #service {
        margin-left : 75px;
        }
    </style>

    <div>
        <h1>Welcome to Rent A Car!</h1>
        <h2 id="about">About</h2>
        <p id="aboutP">Here you can rent any car you like. Just select a car that fancies you and get in touch with the owner. Come to an agreement and you get to drive the car you like!</p>
        <p id="aboutP">This company was brought up out of love for cars. We want to be able to allow car enthusiasts to share and express their love for cars and make a little cash on the side.</p>

        <h2 id="about">Services We Offer</h2>
        <h4 id="service">Marketplace for Car Rentals</h4>
        <ul id="aboutP">
            <li>
                <p>A service that provides a platform for you to rent out your car to others. We faciliate the rent contract and you get to make some profit.</p>
            </li>
        </ul>
        
        <h2 id="about">News</h2>
        <p id="aboutP">03/05/2020 - Company grand opening!</p>
    </div>
{% endblock %}
