{% extends 'base.html.twig' %}

{% block title %}Rent A Car!{% endblock %}

{% block body %}
    <style>
        #about {
        margin-left: 50px;
        }
        #aboutP {
        margin-left: 100px;
        }
        #service {
        margin-left : 75px;
        }
    </style>

    <div>
        <h1>Welcome to AutoGalore!</h1>
        <h2 id="about">About</h2>
        <p id="aboutP">Here you can buy,rent, or sell any car you like. Just select a car that fancies you and get in touch with the owner. Come to an agreement and you get to drive the car you like!</p>
        <p id="aboutP">This company was brought up out of love for cars. We want to be able to allow car enthusiasts to share and express their love for cars.</p>

        <h2 id="about">Services We Offer</h2>
        <a id="service" class="nav-link" href="/rental">Marketplace for Car Rentals</a>
        <a id="service" class="nav-link" href="/buy/car">Marketplace for Buying Cars</a>
        <a id="service" class="nav-link" href="/sell/car">Marketplace for Selling Cars</a>
        <a id="service" class="nav-link" href="/buy/accessory">Marketplace for Buying Car Accessories</a>
        <a id="service" class="nav-link" href="/sell/accessory">Marketplace for Selling Car Accessories</a>
        <a id="service" class="nav-link" href="/buy/parts">Marketplace for Buying Car Parts</a>
        <a id="service" class="nav-link" href="/sell/parts">Marketplace for Selling Car Parts</a>
        <a id="service" class="nav-link" href="/tune">Marketplace for Tuning Cars</a>
        <a id="service" class="nav-link" href="/repair">Marketplace for Repair Services</a>
        <a id="service" class="nav-link" href="/learn">Marketplace for Learning Driving Techniques</a>
        {# <h4 id="service">Marketplace for Car Rentals</h4>
        <ul id="aboutP">
            <li>
                <p>A service that provides a platform for you to rent out your car to others. We faciliate the rent contract and you get to make some profit.</p>
            </li>
        </ul> #}
        
        <h2 id="about">News</h2>
        <p id="aboutP">03/05/2020 - Company grand opening!</p>
    </div>
{% endblock %}
