{% extends 'base.html.twig' %}

{% block title %}User Results{% endblock %}

{% block body %}
    <h1>User Results</h1>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        {% for data in users %}
        {% set entry = data | split(':') %}
            {# <ul>
                <li>{{ data }}</li>
            </ul> #}
            <tr>
                <td>{{ entry[0] }}</td>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
