{% extends 'base.html.twig' %}

{% block title %}Sell!{% endblock %}

{% block body %}
    <style>
        #about {
        margin-left: 50px;
        }
        #aboutP {
        margin-left: 100px;
        }
        #service {
        margin-left : 75px;
        }
    </style>

    <h1>Sell Accessories!</h1>
    <img src="{{ asset('images/buyAccessory.jpg')}}" />
    <p>Here you can sell car accessories.</p>

{% endblock %}
