{% extends 'base.html.twig' %}

{% block title %}Sell!{% endblock %}

{% block body %}
    <style>
        #about {
        margin-left: 50px;
        }
        #aboutP {
        margin-left: 100px;
        }
        #service {
        margin-left : 75px;
        }
    </style>

    <h1>Sell A Car!</h1>
    <img src="{{ asset('images/sellCar.jpg')}}" />
    <p>Here you can sell any car you own. Just fill out car and contact information and start dealing.</p>

{% endblock %}
