{% extends "layout.html" %}

{% block content %}
  <div>
  <h1>Welcome to Rent A Car!</h1>
    <h2>About</h2>
    <p>Here you can rent any car you like. Just select a car that fancies you and get in touch with the owner. Come to an agreement and you get to drive the car you like!</p>
    <p>This company was brought up out of love for cars. We want to be able to allow car enthusiasts to share and express their love for cars and make a little cash on the side.</p>
    <h2>Services We Offer</h2>
    <h3>Marketplace for Car Rentals</h3>
    <p>A service that provides a platform for you to rent out your car to others. We faciliate the rent contract and you get to make some profit.</p>
    <h2>News</h2>
    <p>03/05/2020 - Company grand opening!</p>
  </div>
{% endblock %}
